<h1>{{getName}}</h1>
<dl>
  <td>Nombre: </td>
  <dd>{{getName}}</dd>

  <td>Edad: </td>
  <dd>{{age}}</dd>

  <td>Método: </td>
  <dd>{{getHeroDescription()}}</dd>

  <td>Capitalizado: </td>
  <dd>{{capitalizace}}</dd>
</dl>

<button
*ngIf="age === 22"
class="btn btn-info mx-2"
(click)="changeAge(12)">
Cambiar edad
</button>

<button
*ngIf="getName === 'Iroman'"
class="btn btn-info mx-2"
(click)="changeName('Spiderman')">
Cambiar nombre
</button>

<button
(click)="resetForm()"
class="btn btn-info">
  reset values
</button>

